name: Validate-YAML

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  validate-yaml:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Validate YAML file
        run: yamllint -c _scripts/yaml_lint.rules projects/.
